/.git
/demo
/docs
/node_modules
/src

/dist/ng-select.js
/dist/ng-select.d.ts
/dist/ng-select.metadata.json

yarn.lock
gulpfile.js
tslint.json
.editorconfig
.npmignore
.travis.yml

npm-debug.log
yarn-error.log

*.spec.d.ts
*.spec.js

*.orig
*.swp
*.tgz
*.sh
