/.git
/demo
/docs
/node_modules
/src

/dist/src/ng-select.js
/dist/src/ng-select.d.ts
/dist/src/ng-select.metadata.json
/dist/src/ng-select.ngfactory.js
/dist/src/ng-select.ngfactory.d.ts
/dist/src/ng-select.ngsummary.json
/dist/node_modules

yarn.lock
gulpfile.js
tslint.json
.editorconfig
.npmignore
.travis.yml
.vscode

npm-debug.log
yarn-error.log

*.spec.d.ts
*.spec.js

*.orig
*.swp
*.tgz
*.sh
