<md-card>
    <md-card-title>
        Documentation
    </md-card-title>
    <md-card-content>

        <h3 id="ioption">The IOption interface</h3>

        <p>The select options can be any object that implements the <code>IOption</code> interface:</p>

        <section [innerHTML]="iOptionInterface" highlight-js-content=".highlight"></section>

        <p>The <code>label</code> is displayed in the drop down. If an option is selected, the select value will be set to the option's <code>value</code>. Finally, options can be disabled with the optional <code>disabled</code> property.</p>

        <h3 id="input">Input properties</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>options</td>
                    <td><code>Array&lt;IOption&gt;</code></td>
                    <td><code>[]</code></td>
                    <td class="description">Options that will populate the select drop down</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>multiple</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                    <td class="description">Set to true for multi-select</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>allowClear</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                    <td class="description">Only for single select, a clear selected button is shown if set to true</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                    <td class="description">Disables the select component if set to true</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>noFilter</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                    <td class="description">Filter is hidden if the number of options is smaller than the given number</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>label</td>
                    <td><code>string</code></td>
                    <td><code>''</code></td>
                    <td class="description">Shows a label with the given text above the select container</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>placeholder</td>
                    <td><code>string</code></td>
                    <td><code>''</code></td>
                    <td class="description">Text that is shown if no options are selected</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>filterPlaceholder</td>
                    <td><code>string</code></td>
                    <td><code>''</code></td>
                    <td class="description">Only for single select, text that is shown in empty filter input</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>notFoundMsg</td>
                    <td><code>string</code></td>
                    <td><code>'No results found'</code></td>
                    <td class="description">Text that is shown if there are no options found for the current filter input value</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>highlightColor</td>
                    <td><code>string</code></td>
                    <td><code>'#2196f3'</code></td>
                    <td class="description">Background color of highlighted option</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
                <tr>
                    <td>highlightTextColor</td>
                    <td><code>string</code></td>
                    <td><code>'#fff'</code></td>
                    <td class="description">Text color of highlighted option</td>
                    <td><a routerLink="/examples">example</a></td>
                </tr>
            </tbody>
        </table>

        <h3 id="template">Option template</h3>

        <p>The option labels are by default shown in the select drop down. Alternatively, rendering can be customized by providing an option template. For custom rendering, other properties than the ones defined in the <code>IOption</code> interface can also be used. For example, an option class with a <code>state</code> property:</p>

        <section [innerHTML]="optionClass" highlight-js-content=".highlight"></section>

        <p>can be used for setting the class of the span that contains the option label:</p>

        <section [innerHTML]="optionTemplate" highlight-js-content=".highlight"></section>

        <p>The <a routerLink="/examples/option-template">option template example</a> show how the option template can be used to show an icon in front of the option label.</p>

        <h3 id="output">Output events</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>noOptionsFound</td>
                    <td><code>string</code></td>
                    <td>Returns search term if no options were found</td>
                    <td></td>
                </tr>
                <tr>
                    <td>focus</td>
                    <td>-</td>
                    <td>Triggered when select component gets focus</td>
                    <td></td>
                </tr>
                <tr>
                    <td>blur</td>
                    <td>-</td>
                    <td>Triggered when select component loses focus</td>
                    <td></td>
                </tr>
                <tr>
                    <td>opened</td>
                    <td>-</td>
                    <td>Triggered when the select drop down is opened</td>
                    <td></td>
                </tr>
                <tr>
                    <td>closed</td>
                    <td>-</td>
                    <td>Triggered when the select drop down is closed</td>
                    <td></td>
                </tr>
                <tr>
                    <td>selected</td>
                    <td><code>IOption</code></td>
                    <td>Returns selected option</td>
                    <td></td>
                </tr>
                <tr>
                    <td>deselected</td>
                    <td><code>IOption</code></td>
                    <td>Returns deselected option</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <h3 id="keyboard">Keyboard interaction</h3>

        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>ENTER</code>, <code>ALT+KEYDOWN</code></td>
                    <td>Open dropdown</td>
                </tr>
                <tr>
                    <td><code>ESC</code>, <code>ALT+KEYUP</code></td>
                    <td>Close dropdown</td>
                </tr>
                <tr>
                    <td><code>KEYUP</code>, <code>KEYDOWN</code></td>
                    <td>Navigate through options in the drop down</td>
                </tr>
                <tr>
                    <td><code>ENTER</code></td>
                    <td>Select highlighted option</td>
                </tr>
                <tr>
                    <td><code>TAB</code></td>
                    <td>Focus/blur the select container</td>
                </tr>
            </tbody>
        </table>

        <h3 id="methods">Methods</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>select</td>
                    <td><code>value: string</code></td>
                    <td>Select option with given value</td>
                    <td></td>
                </tr>
                <tr>
                    <td>clear</td>
                    <td>-</td>
                    <td>Deselect all selected options.</td>
                    <td></td>
                </tr>
                <tr>
                    <td>open</td>
                    <td>-</td>
                    <td>Open drop down</td>
                    <td></td>
                </tr>
                <tr>
                    <td>close</td>
                    <td>-</td>
                    <td>Close drop down</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>
