<md-card>
    <md-card-title>
        Documentation
    </md-card-title>
    <md-card-content>
        <h3>Input properties</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>options</td>
                    <td><code>Array&lt;IOption&gt;</code></td>
                    <td><code>[]</code></td>
                    <td>Options that will appear in the drop down.</td>
                </tr>
            </tbody>
        </table>

        <h3>Output events</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>options</td>
                </tr>
            </tbody>
        </table>

        <h3>Methods</h3>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>options</td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>
