<mat-card>
    <mat-card-title>
        Frequently asked questions
    </mat-card-title>
    <mat-card-content>
        <ul>
            <li><a (click)="goTo('update-options')">{{question1}}</a></li>
        </ul>
    </mat-card-content>
</mat-card>

<mat-card
    id="update-options">
    <mat-card-content>
        <h3>{{question1}}</h3>
        <p>If you want the options to be updated, you'll need to replace the option array with a new one, so that angular detects that it is a new object. If you push new options to existing list of options, angular will not detect the change, which is why the new options will not appear in the select drop down. For the following template:</p>

        <section [innerHTML]="question1html" highlight-js-content=".highlight"></section>

        <p>This will <strong>not</strong> work:</p>

        <section [innerHTML]="question1tsNotWorking" highlight-js-content=".highlight"></section>

        <p>This will work:</p>

        <section [innerHTML]="question1tsWorking" highlight-js-content=".highlight"></section>
    </mat-card-content>
</mat-card>

