@import '../../style/variables';

.footer-container {
    margin-top: 24px;
    padding: 24px;

    .github-buttons {
        margin-left: auto;
        margin-right: auto;
        width: 224px;

        iframe {
            width: 110px;

            &:last-child {
                float: right;
            }
        }
    }

    .footer-text {
        color: mat-color($mat-grey, 600);
        font-size: 0.9em;
        text-align: center;
        margin-top: 12px;

        >div {
            padding: 3px 0;
        }
    }
}
