<mat-card>
    <mat-card-title>
        Getting started <small style="color:#aaa;">(<code>angular-cli</code>)</small>
    </mat-card-title>
    <mat-card-content>

        <p>Install <code>ng-select</code> with <a href="https://www.npmjs.com" target="_blank">npm</a> or <a href="https://yarnpkg.com" target="_blank">yarn</a>:</p>

        <section [innerHTML]="installNpm" highlight-js-content=".highlight"></section>

        <p>or:</p>

        <section [innerHTML]="installYarn" highlight-js-content=".highlight"></section>

        <p>Import the <code>SelectModule</code> into your application module:</p>

        <section [innerHTML]="moduleTypescript" highlight-js-content=".highlight"></section>

        <p>Add <code>ng-select</code> to a component template:</p>

        <section [innerHTML]="componentTemplate" highlight-js-content=".highlight"></section>

        <p>Define the list of options in the corresponding component class:</p>

        <section [innerHTML]="componentClass" highlight-js-content=".highlight"></section>

        <p>Consult the <a routerLink="/documentation">documentation</a> page
        for available properties, events, and methods. And have a look at the
        <a routerLink="/examples">examples</a>.</p>

    </mat-card-content>
</mat-card>
