<md-card>
    <md-card-title>
        Disabled
    </md-card-title>
    <md-card-content>

        <p>.</p>

        <h3>Single select</h3>

        <ng-select
            [options]="characters"
            [disabled]="isDisabled0">
        </ng-select>

        <div style="margin-top: 4px;">
            <md-button-toggle
                [checked]="true"
                (click)="onToggle0Click()"
                style="padding:8px 0">
                Disabled
            </md-button-toggle>
        </div>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html0" highlight-js-content=".highlight"></section>
        <div class="code-header">Component class</div>
        <section [innerHTML]="ts0" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>

        <ng-select
            [options]="characters"
            [multiple]="true"
            [disabled]="isDisabled1">
        </ng-select>

        <div style="margin-top: 4px;">
            <md-button-toggle
                [checked]="true"
                (click)="onToggle1Click()"
                style="padding:8px 0">
                Disabled
            </md-button-toggle>
        </div>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html1" highlight-js-content=".highlight"></section>
        <div class="code-header">Component class</div>
        <section [innerHTML]="ts1" highlight-js-content=".highlight"></section>

    </md-card-content>
</md-card>
