<mat-card>
    <mat-card-title>
        Focus &amp; blur event
    </mat-card-title>
    <mat-card-content>

        <p>Use the <code>focus</code> and <code>blur</code> events to keep
        track if the select component has focus or not.</p>

        <h3>Single select</h3>

        <div class="select-value">Focus: {{hasFocus0}}</div>
        <ng-select
            [options]="characters"
            (blur)="hasFocus0 = false"
            (focus)="hasFocus0 = true">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html0" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts0" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>

        <div class="select-value">Focus: {{hasFocus1}}</div>
        <ng-select
            [options]="characters"
            [multiple]="true"
            (blur)="hasFocus1 = false"
            (focus)="hasFocus1 = true">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html1" highlight-js-content=".highlight"></section>

    </mat-card-content>
</mat-card>
