<md-card>
    <md-card-title>
        Highlight color
    </md-card-title>
    <md-card-content>

        <p></p>

        <h3>Single select</h3>

        <ng-select
            highlightColor="#9575cd"
            highlightTextColor="#fff"
            [options]="characters">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html0" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts0" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>

        <ng-select
            highlightColor="#9575cd"
            highlightTextColor="#fff"
            [options]="characters"
            [multiple]="true">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html1" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts1" highlight-js-content=".highlight"></section>

    </md-card-content>
</md-card>
