<md-card>
    <md-card-title>
        No filter
    </md-card-title>
    <md-card-content>

        <h3>Single select</h3>

        <div class="select-value">
            <div>Hide filter if the number of options is less than:</div>
            <md-button-toggle-group
                style="margin-top: 3px;margin-bottom: 8px;"
                [(ngModel)]="noFilterThreshold0">
                <md-button-toggle value="5">5</md-button-toggle>
                <md-button-toggle value="6">6</md-button-toggle>
                <md-button-toggle value="Infinity">Infinity</md-button-toggle>
            </md-button-toggle-group>
        </div>
        <ng-select
            [options]="characters"
            [noFilter]="noFilterThreshold0">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html0" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts0" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>

        <div class="select-value">
            <div>Hide filter if the number of options is less than:</div>
            <md-button-toggle-group
                style="margin-top: 3px;margin-bottom: 8px;"
                [(ngModel)]="noFilterThreshold1">
                <md-button-toggle value="5">5</md-button-toggle>
                <md-button-toggle value="6">6</md-button-toggle>
                <md-button-toggle value="Infinity">Infinity</md-button-toggle>
            </md-button-toggle-group>
        </div>
        <ng-select
            [options]="characters"
            [multiple]="true"
            [noFilter]="noFilterThreshold1">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html1" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts1" highlight-js-content=".highlight"></section>

    </md-card-content>
</md-card>
