<md-card>
    <md-card-title>
        Not found message
    </md-card-title>
    <md-card-content>

        <h3>Single select</h3>

        <ng-select
            [options]="characters"
            notFoundMsg="No characters found">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts" highlight-js-content=".highlight"></section>

    </md-card-content>
</md-card>
