<md-card>
    <md-card-title>
        Opened &amp; closed event
    </md-card-title>
    <md-card-content>

        <h3>Single select</h3>

        <div class="select-value">Dropdown open: {{isOpen0}}</div>
        <ng-select
            [options]="characters"
            (closed)="onClosed0()"
            (opened)="onOpened0()">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html0" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts0" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>

        <div class="select-value">Dropdown open: {{isOpen1}}</div>
        <ng-select
            [options]="characters"
            [multiple]="true"
            (closed)="onClosed1()"
            (opened)="onOpened1()">
        </ng-select>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html1" highlight-js-content=".highlight"></section>

        <div class="code-header">Component class</div>
        <section [innerHTML]="ts0" highlight-js-content=".highlight"></section>

    </md-card-content>
</md-card>
