<md-card>
    <md-card-title>
        Placeholder
    </md-card-title>

    <md-card-content>

        <h3>Single select</h3>
        <ng-select
            [options]="characters"
            [placeholder]="placeholder"
            [allowClear]="true"
            [(ngModel)]="selectedCharacter">
        </ng-select>
        <p>Add a select component to your template using the <code>ng-select</code> tag, and use the <code>options</code> property to bind it to your list of options.</p>
        <section [innerHTML]="html" highlight-js-content=".highlight"></section>
        <p>Test</p>
        <section [innerHTML]="ts" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>
        <ng-select
            [options]="characters"
            [placeholder]="placeholder"
            [multiple]="true">
        </ng-select>
    </md-card-content>
</md-card>
