<mat-card>
    <mat-card-title>
        Select method
    </mat-card-title>
    <mat-card-content>

        <p>When not using <code>ngModel</code> or a reactive form, options can
        be selected by value with the <code>select</code> method.</p>

        <h3>Single select</h3>

        <ng-select
            #mySelect0
            [options]="characters">
        </ng-select>
        <div style="margin-top: 10px;">
            <button
                mat-raised-button
                (click)="mySelect0.select('3')">
                Select Parzival
            </button>
        </div>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html0" highlight-js-content=".highlight"></section>

        <h3>Multiple select</h3>

        <ng-select
            #mySelect1
            [options]="characters"
            [multiple]="true">
        </ng-select>
        <div style="margin-top: 10px;">
            <button
                mat-raised-button
                (click)="mySelect1.select(['1', '3'])">
                Select Art3mis and Parzival
            </button>
        </div>

        <div class="code-header">Component template</div>
        <section [innerHTML]="html1" highlight-js-content=".highlight"></section>

    </mat-card-content>
</mat-card>
