<h2>Basic example</h2>

<md-card>
    <md-card-title>
        Single select
    </md-card-title>
    <md-card-content>
        <div>{{model.character}}</div>
        <div>state: {{spy.className}}</div>
        <form>
            <ng-select
                #spy
                name="character"
                [options]="characters"
                [(ngModel)]="model.character">
            </ng-select>
            <button
                md-button>
                Submit
            </button>
        </form>
        <p>Test</p>
        <section [innerHTML]="html" highlight-js-content=".highlight"></section>
        <p>Test</p>
        <section [innerHTML]="ts" highlight-js-content=".highlight"></section>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>
        Multiple select
    </md-card-title>
    <md-card-content>
        <ng-select
            [options]="characters"
            [multiple]="true">
        </ng-select>
    </md-card-content>
</md-card>
