@import './variables';

ng-select-app {
    .mat-card {
        margin-bottom: 15px;

        &:first-child {
        margin-top: 20px;
        }
    }

    .mat-card-title {
        font-size: 32px;
        margin-bottom: 8px;

        span {
            color: mat-color($mat-grey, 400);
            font-size: 0.65em;
        }
    }

    .mat-card-content {
        >:first-child {
            margin-top: 32px;
        }
    }

    h3 {
        margin: 32px 0 4px 0;
    }

    .select-value {
        background-color: mat-color($mat-grey, 100);
        border-radius: 2px;
        font-style: italic;
        margin: 10px 0;
        padding: 7px;

        code {
            color: mat-color($mat-indigo, 600);
            font-weight: 600;
        }
    }
}
