@import './variables';

ng-select-app {
    .mat-card {
        margin-bottom: 15px;

        &:first-child {
            margin-top: 20px;
        }

        h3 {
            margin: 32px 0 8px 0;
        }
    }

    .mat-card-title {
        font-size: 32px;
        margin-bottom: 8px;

        span {
            color: mat-color($mat-grey, 400);
            font-size: 0.65em;
        }
    }

    .mat-card-content {
        >:first-child {
            margin-top: 32px;
        }
    }
}
