@import '~@angular/material/theming';

@include mat-core();

$bd-app-primary: mat-palette($mat-indigo, 900, 400, 900);
$bd-app-accent: mat-palette($mat-amber, 600, A100, 800);
$bd-app-warn: mat-palette($mat-orange);

$bd-app-theme: mat-light-theme($bd-app-primary, $bd-app-accent, $bd-app-warn);

@include angular-material-theme($bd-app-theme);
