<ng-select
    style="width: 400px; margin-bottom: 800px; display: block;"
    [options]="myOptions">
</ng-select>
<ng-select
    style="width: 400px; margin-bottom: 800px; display: block;"
    [multiple]="true"
    [options]="myOptions">
</ng-select>
<ng-select
    style="width: 400px; margin-bottom: 800px; display: block;"
    [options]="myOptions">
</ng-select>
<ng-select
    style="width: 400px; margin-bottom: 800px; display: block;"
    [multiple]="true"
    [options]="myOptions">
</ng-select>
<ng-select
    style="width: 400px; margin-bottom: 800px; display: block;"
    [options]="myOptions">
</ng-select>
<ng-select
    style="width: 400px; display: block;"
    [multiple]="true"
    [options]="myOptions">
</ng-select>

