@import './variables';

html, body, ng-select-app {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    font-family: $open-sans;
    font-size: 1em;
}

p {
    margin: 0;
}

a {
    color: mat-color($mat-blue, 800);
    text-decoration: none;
}
