<md-toolbar
    color="primary">
    <span>Angular2 select component</span>
</md-toolbar>

<div class="main-container">

    <h1>The basics</h1>

    <md-card>
        <md-card-title>
            Options
        </md-card-title>
        <md-card-content>
            <p>Define options in your component class as an array of objects. Each object should have a <code>value</code> and a <code>label</code>. The following small set of options is used in the examples below.</p>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Single select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC">
            </ng-select>
            <p>Add a select component to your template using the <code>ng-select</code> tag, and use the <code>options</code> property to bind it to your list of options.
            <section [innerHTML]="sample00html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Multiple select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [multiple]="true">
            </ng-select>
            <p>Set the <code>multiple</code> property to <code>true</code> to get a multiple select component.
            <section [innerHTML]="sample01html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Get the select value</h1>

    <md-card>
        <md-card-title>
            Bind to select value with ngModel
        </md-card-title>
        <md-card-content>
            <div class="value-bar">
                <div>Value: <strong>{{selectedValues}}</strong></div>
            </div>
            <ng-select
                [options]="OPTIONS_BASIC"
                [multiple]="true"
                [(ngModel)]="selectedValues">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    (click)="selectedValues=['1','3']">
                    Select values 1 and 3
                </button>
            </div>
            <p>Use the <code>ngModel</code> property to (two-way) bind a variable to the select component's value. This means that the variable value will be updated as soon as options are (de)selected, and that the selected options will be updated if you change the variable value (by clicking the button in this example).</p>
            <section [innerHTML]="sample10html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Respond to (de)selected events
        </md-card-title>
        <md-card-content>
            <div class="event-log-bar">
                Last event: <strong>{{lastEvent}}</strong>
            </div>
            <ng-select
                [options]="OPTIONS_BASIC"
                [multiple]="true"
                (selected)="lastEvent='selected ' + $event.label"
                (deselected)="lastEvent='deselected ' + $event.label">
            </ng-select>
            <p>The <code>selected</code> and <code>deselected</code> output event enable you to keep track of what options are being (de)selected.</p>
            <section [innerHTML]="sample11html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Use the select component in a form
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC">
            </ng-select>
            <p></p>
            <section [innerHTML]="sample12html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample12ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Disable</h1>

    <md-card>
        <md-card-title>
            Disable select component
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [disabled]="disabled">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    [disabled]="disabled"
                    (click)="onDisableClick()">
                    Disable
                </button>
                <button
                    md-raised-button
                    [disabled]="!disabled"
                    (click)="onEnableClick()">
                    Enable
                </button>
            </div>
            <p>TODO</p>
            <section [innerHTML]="sample02html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample02ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Disable select options
        </md-card-title>
        <md-card-content>
            <p>Not yet supported.</p>
        </md-card-content>
    </md-card>
    <!-- TODO first fix issue, disabled options are still selectable.
         TODO add possibility to dis/enable options through API method?
    <md-card>
        <md-card-title>
            Disable select options
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="optionsWithDisabled">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    [disabled]="disabledOptions"
                    (click)="onDisableOptionsClick()">
                    Disable options
                </button>
                <button
                    md-raised-button
                    [disabled]="!disabledOptions"
                    (click)="onEnableOptionsClick()">
                    Enable options
                </button>
            </div>
            <section [innerHTML]="sample03html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>
    -->

    <h1>Clear selection</h1>

    <md-card>
        <md-card-title>
            Clear button (single select only)
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [allowClear]="true">
            </ng-select>
            <p>Set the <code>allowClear</code> property to <code>true</code> to enable clearing the selected option by clicking the little cross on the right. This is only available for the single select component.
            <section [innerHTML]="sample04html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Clear function
        </md-card-title>
        <md-card-content>
            <ng-select
                #clearSelectExample
                [options]="OPTIONS_BASIC"
                [multiple]="true">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    (click)="clearSelectExample.clear()">
                    Clear selection
                </button>
            </div>
            <p>Or use the <code>clear()</code> function to have all selected options cleared.</p>
            <section [innerHTML]="sample05html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Custom text</h1>

    <md-card>
        <md-card-title>
            Placeholder single select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [allowClear]="true"
                placeholder="Select one of the characters">
            </ng-select>
            <p>If you set the <code>placeholder</code> property, this text will be shown in the select container if no option is selected.</p>
            <section [innerHTML]="sample06html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Placeholder multiple select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [multiple]="true"
                placeholder="Select characters">
            </ng-select>
            <p>Same as for the single select, the placeholder will be shown if no options are selected.</p>
            <section [innerHTML]="sample07html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            No results found text
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                notFoundMsg="None of the characters match your search">
            </ng-select>
            <p>By default the message "No results found" is shown if no options match the given filter input. Use the <code>notFoundMsg</code> property to change this message.</p>
            <section [innerHTML]="sample08html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Custom style</h1>

    <md-card>
        <md-card-title>
            Set select container width
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [ngStyle]="{'width': '300px'}">
            </ng-select>
            <p>You can use Angular's <code>ngStyle</code> to modify the width of the select container.</p>
            <section [innerHTML]="sample09html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Set highlight color
        </md-card-title>
        <md-card-content>
            <ng-select class="custom-styled"
                [options]="OPTIONS_BASIC"
                [multiple]="true"
                highlightColor="#B39DDB"
                highlightTextColor="#4527A0">
            </ng-select>
            <p>The color of the highlighted option in the dropdown can be changed with the <code>highlightColor</code> and <code>highlightTextColor</code> properties.</p>
            <section [innerHTML]="sample13html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Filter</h1>

    <md-card>
        <md-card-title>
            No filter single select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [noFilter]="3">
            </ng-select>
            <p></p>
            <section [innerHTML]="sample09html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            No filter multiple select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [multiple]="true"
                [noFilter]="6">
            </ng-select>
            <p></p>
            <section [innerHTML]="sample09html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Open/close dropdown</h1>

    <md-card>
        <md-card-title>
            Open/close dropdown
        </md-card-title>
        <md-card-content>
            <p>Not yet available, some issues need te be fixed first.</p>
        </md-card-content>
    </md-card>
    <!--md-card>
        <md-card-title>
            Open/close dropdown
        </md-card-title>
        <md-card-content>
            <ng-select
                #openCloseSelectExample
                [options]="OPTIONS_BASIC">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    (click)="openCloseSelectExample.open()">
                    Open dropdown
                </button>
                <button
                    md-raised-button
                    (click)="openCloseSelectExample.close()">
                    Close dropdown
                </button>
            </div>
            <p></p>
            <section [innerHTML]="sample05html" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card-->

</div>
