@import '../style/variables';

.mat-sidenav-container {
    height: calc(100% - #{$toolbar-height});
    width: 100%;

    /** Sidebar **/

    /** Content container **/

    .main-container {
        background-color: mat-color($mat-grey, 100);
        height: 100%;
        left: 0px;
        overflow-y: auto;
        top: 0px;
        width: 100%;

        .center-container {
            height: 100%;
            min-width: 320px;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .content-container {
                height: 100%;
                left: 0;
                width: 100%;
                padding: 0 20px;
                position: absolute;
                top: 0;
            }
        }
    }
}
