<md-toolbar
    color="primary">
    <span>Angular2 select component</span>
</md-toolbar>

<div class="main-container">

    <h1>The basics</h1>

    <md-card>
        <md-card-title>
            Single select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC">
            </ng-select>
            <section [innerHTML]="sample00html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Multiple select
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [multiple]="true">
            </ng-select>
            <section [innerHTML]="sample01html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <h1>Disable</h1>

    <md-card>
        <md-card-title>
            Disable select component
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [disabled]="disabled">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    [disabled]="disabled"
                    (click)="onDisableClick()">
                    Disable
                </button>
                <button
                    md-raised-button
                    [disabled]="!disabled"
                    (click)="onEnableClick()">
                    Enable
                </button>
            </div>
            <section [innerHTML]="sample02html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <!-- TODO first fix issue, disabled options are still selectable.
         TODO add possibility to dis/enable options through API method?
    <md-card>
        <md-card-title>
            Disable select options
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="optionsWithDisabled">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    [disabled]="disabledOptions"
                    (click)="onDisableOptionsClick()">
                    Disable options
                </button>
                <button
                    md-raised-button
                    [disabled]="!disabledOptions"
                    (click)="onEnableOptionsClick()">
                    Enable options
                </button>
            </div>
            <section [innerHTML]="sample03html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>
    -->

    <h1>Clear selection</h1>

    <md-card>
        <md-card-title>
            Clear button (single select only)
        </md-card-title>
        <md-card-content>
            <ng-select
                [options]="OPTIONS_BASIC"
                [allowClear]="true">
            </ng-select>
            <section [innerHTML]="sample04html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            Clear function
        </md-card-title>
        <md-card-content>
            <ng-select
                #clearSelectExample
                [options]="OPTIONS_BASIC"
                [multiple]="true">
            </ng-select>
            <div class="button-bar">
                <button
                    md-raised-button
                    (click)="clearSelectExample.clear()">
                    Clear selection
                </button>
            </div>
            <section [innerHTML]="sample05html" highlight-js-content=".highlight"></section>
            <section [innerHTML]="sample00ts" highlight-js-content=".highlight"></section>
        </md-card-content>
    </md-card>


    <h2>Multiple select</h2>


    <form style="padding:18px;max-width:800px;"
        [formGroup]="formSingle">

        <div style="margin:5px 0;font-weight:600;">Single select example</div>
        <ng-select
            #singleSelectComponent
            [options]="optionsSingle"
            [multiple]="multipleSingle"
            placeholder="Select one"
            formControlName="selectSingle"
            [allowClear]="allowClear"
            (opened)="onSingleOpened()"
            (closed)="onSingleClosed()"
            (selected)="onSingleSelected($event)"
            (deselected)="onSingleDeselected($event)">
        </ng-select>

        <div style="margin:10px 0 20px 0;color:#666;font-size:11pt;font-style:italic;">
            Selected option id: {{formSingle.value['selectSingle']}}
        </div>

        <div>Events:</div>
        <pre #preSingle>{{logSingleString}}</pre>

    </form>

    <button
        (click)="onSingleResetClick()">Reset</button>

    <hr style="margin: 18px 0;">

    <form style="padding:18px;max-width:800px;"
        [formGroup]="formMultiple">

        <div style="margin:5px 0;font-weight:600;">Multiple select example</div>
        <ng-select
            #multipleSelectComponent
            [ngStyle]="{'width': '500px'}"
            [options]="optionsMultiple"
            [multiple]="multipleMultiple"
            placeholder="Select multiple"
            formControlName="selectMultiple"
            (opened)="onMultipleOpened()"
            (closed)="onMultipleClosed()"
            (selected)="onMultipleSelected($event)"
            (deselected)="onMultipleDeselected($event)">
        </ng-select>

        <div style="margin:10px 0 20px 0;color:#666;font-size:11pt;font-style:italic;">
            Selected option id: {{formMultiple.value['selectMultiple']}}
        </div>

        <div>Events:</div>
        <pre #preMultiple>{{logMultipleString}}</pre>
    </form>

    <button
        (click)="onMultipleResetClick()">Reset</button>
    <button
        (click)="onMultipleSetOptions1Click()">Set options 0, 1, A, B</button>
</div>
