ng-select {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;

    // Container.
    >div {
        border: 1px solid #ececec;
        cursor: pointer;
        height: 30px;
        user-select: none;
        width: 100%;

        &.open {

        }

        &.focus {

        }

        &.below {

        }

        &.multiple {

        }

        >div.single {
            display: flex;
            height: 100%;
            width: 100%;

            >div.value {
                flex: 1;
            }

            >div.clear {
                width: 30px;

                &:hover {
                    background-color: #ececec;
                }
            }

            >div.arrow {
                width: 30px;
            }
        }
    }
}
