<div
    [ngStyle]="{'top.px': top, 'left.px': left, 'width.px': width}">

    <div class="filter"
        *ngIf="!multiple">
        <input
            #input
            (input)="onInput($event)"
            (keydown)="onKeydown($event)"
            (click)="onInputClick($event)">
    </div>

    <div class="options">

        <ul
            #optionsList
            (mousemove)="onOptionsMouseMove($event)"
            (wheel)="onOptionsWheel($event)">
            <li *ngFor="let option of optionList.filtered"
                [ngClass]="{'highlighted': option.higlighted, 'selected': option.selected}"
                [attr.data-option-index]="option.index"
                (click)="onOptionClick(option)">
                {{option.label}}
            </li>
            <li
                *ngIf="!optionList.hasShown()"
                class="message">
                {{MSG_NOT_FOUND}}
            </li>
        </ul>

    </div>
</div>
