<div tabindex=0
    #selection
    [ngClass]="{'open': isOpen, 'focus': hasFocus, 'below': isBelow}"
    (click)="onSelectionClick($event)"
    (keydown)="onKeydown($event)"
    (window:resize)="onWindowResize()"
    (window:click)="onWindowClick()">

    <div class="single"
        *ngIf="!multiple">
        <div class="value"
            *ngIf="optionList.hasSelected()">
            {{optionList.selection[0].label}}
        </div>
        <div class="placeholder"
            *ngIf="!optionList.hasSelected()">
            {{placeholder}}
        </div>
        <div class="clear"
            *ngIf="allowClear"
            (click)="onClearSelectionClick($event)">
            &#x2715;
        </div>
        <div class="toggle"
            *ngIf="isOpen">
            &#x25B2;
        </div>
        <div class="toggle"
            *ngIf="!isOpen">
            &#x25BC;
        </div>
    </div>

    <div class="multiple"
        *ngIf="multiple">
        <div class="option"
            *ngFor="let option of optionList.selection">
            <span class="deselect-option"
                (click)=onDeselectOptionClick(option)>
                &#x2715;
            </span>
            {{option.label}}
        </div>
        <input
            #searchInput
            [placeholder]="placeholder"
            [ngStyle]="{'width.px': filterInputWidth}"
            (input)="onFilterInput($event)"
            (keydown)="onFilterInputKeydown($event)"/>
    </div>

</div>
<select-dropdown
    *ngIf="isOpen"
    #dropdown
    [multiple]="multiple"
    [optionList]="optionList"
    [notFoundMsg]="notFoundMsg"
    [width]="width"
    [top]="top"
    [left]="left"
    (filterInputChanged)="onFilterInputChanged($event)"
    (optionClicked)="onOptionClicked($event)"
    (close)="onClose($event)">
</select-dropdown>
