<div tabindex=0
    #selection
    [ngClass]="{'open': isOpen, 'focus': hasFocus, 'below': isBelow, 'multiple': multiple}"
    (click)="onSelectionClick($event)"
    (keydown)="onKeydown($event)"
    (window:resize)="onWindowResize()"
    (window:click)="onWindowClick()">

    <div class="single"
        *ngIf="!multiple">
        <div class="value">
            {{renderedValue}}
        </div>
        <div class="clear"
            *ngIf="allowClear"
            (click)="onClearSingleClick($event)">
            x
        </div>
        <div class="arrow">
            a
            <b></b>
        </div>
    </div>


    <ul class="select2-selection__rendered"
        *ngIf="multiple">
        <li class="select2-selection__choice" title="{{option.label}}"
            *ngFor="let option of optionList.selection">
            <span class="select2-selection__choice__remove"
                [attr.data-value]="option.value"
                (click)=onClearItemClick($event)>
                ×</span>
            {{option.label}}
        </li>
        <li class="select2-search select2-search--inline">
            <input class="select2-search__field"
                #searchInput
                placeholder="{{getPlaceholder()}}"
                [ngStyle]="getInputStyle()"
                (input)="onInput($event)"
                (keydown)="onSearchKeydown($event)"/>
        </li>
    </ul>

</div>
<select-dropdown
    *ngIf="isOpen"
    #dropdown
    [multiple]="multiple"
    [optionList]="optionList"
    [width]="width"
    [top]="top"
    [left]="left"
    (toggleSelect)="onToggleSelect($event)"
    (close)="onClose($event)">
</select-dropdown>
