<span class="select2-container select2-container--default select2-container--open"
    [ngStyle]="{position: 'absolute', top: top + 'px', left: left + 'px'}">

    <span class="select2-dropdown select2-dropdown--below"
        [ngStyle]="{width: width + 'px'}">

        <span class="select2-search select2-search--dropdown"
            *ngIf="!multiple">
            <input class="select2-search__field"
                #input
                (input)="onInput($event)"
                (keydown)="onKeydown($event)"
                (click)="onInputClick($event)">
        </span>

        <span class="select2-results">

            <ul class="select2-results__options"
                #optionsList
                (mousemove)="onOptionsMouseMove($event)"
                (wheel)="onOptionsWheel($event)"
                (click)="onOptionsClick($event)">
                <template ngFor #option [ngForOf]="options">
                    <li
                        *ngIf="option.shown"
                        [ngClass]="{'highlighted': option.higlighted, 'selected': option.selected}"
                        [attr.data-option]="option">
                        {{option.label}}
                    </li>
                </template>
                <li 
                    *ngIf="!options.hasShown()"
                    class="message">
                    {{MSG_NOT_FOUND}}
                </li>
            </ul>

        </span>
    </span>
</span>
